    <!--  ==========  -->
    <!--  = Footer =  -->
    <!--  ==========  -->
    <footer>

      <!--  ==========  -->
      <!--  = Upper footer =  -->
      <!--  ==========  -->
      <div class="foot-light">
          <div class="container">
              <div class="row">
                  <div class="span4">
                      <h2 class="pacifico">Webmarket &nbsp; <img src="/assets/images/webmarket.png" alt="Webmarket Cart" class="align-baseline" /></h2>
                      <p>این یک نوشته آزمایشی است. شما میتوانید این قسمت را با نوشته های دلخواه خود که مناسب این ناحیه باشند پر نمایید. ما این بخش را با نوشته هایی بی معنی پر کرده ایم.</p>
                  </div>
                  <div class="span4">
                      <div class="main-titles lined">
                          <h3 class="title">فیسبوک</h3>
                      </div>
                      <div class="bordered">
                          <div class="fill-iframe">
                              <div class="fb-like-box" data-href="https://www.facebook.com/ProteusNet" data-width="292" data-height="200" data-colorscheme="dark" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
                          </div>
                      </div>
                  </div>
                  <div class="span4">
                      <div class="main-titles lined">
                          <h3 class="title"><span class="light">عضویت</span> در خبرنامه</h3>
                      </div>
                      <p>این بخشی از یک نوشتار آزمایشی صرفا برای پر کردن این ناحیه است.</p>
                      <!-- Begin MailChimp Signup Form -->
                      <div id="mc_embed_signup">
                      <form action="http://proteusthemes.us4.list-manage1.com/subscribe/post?u=ea0786485977f5ec8c9283d5c&amp;id=5dad3f35e9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form form-inline" target="_blank" novalidate>
                          <div class="mc-field-group">
                              <input type="email" value="" placeholder="آدرس ایمیلتان را وارد کنید" name="EMAIL" class="required email" id="mce-EMAIL">
                              <input type="submit" value="ارسال" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
                          </div>
                          <div id="mce-responses" class="clear">
                              <div class="response" id="mce-error-response" style="display:none"></div>
                              <div class="response" id="mce-success-response" style="display:none"></div>
                          </div>

                      </form>
                      </div>
                      <!--End mc_embed_signup-->
                  </div>
              </div>
          </div>
      </div> <!-- /upper footer -->

      <!--  ==========  -->
      <!--  = Middle footer =  -->
      <!--  ==========  -->
      <div class="foot-dark">
          <div class="container">
              <div class="row">

                  <!--  ==========  -->
                  <!--  = Menu 1 =  -->
                  <!--  ==========  -->
                  <div class="span3">
                      <div class="main-titles lined">
                          <h3 class="title"><span class="light">ناوبری</span> اصلی</h3>
                      </div>
                      <ul class="nav bold">
                          <li><a href="#">خانه</a></li>
                          <li><a href="#">صفحات</a></li>
                          <li><a href="#">درباره ما</a></li>
                          <li><a href="#">کد های میانبر</a></li>
                          <li><a href="#">گالری</a></li>
                          <li><a href="#">تماس با ما</a></li>
                      </ul>
                  </div>

                  <!--  ==========  -->
                  <!--  = Menu 2 =  -->
                  <!--  ==========  -->
                  <div class="span3">
                      <div class="main-titles lined">
                          <h3 class="title"><span class="light">دومین</span> ناوبری</h3>
                      </div>
                      <ul class="nav">
                          <li><a href="#">پیوند نوشتار آزمایشی</a></li>
                          <li><a href="#">نوشتار آزمایشی دیگر</a></li>
                          <li><a href="#">برند ها</a></li>
                          <li><a href="#">مشاهده آخرین توییت ها</a></li>
                          <li><a href="#">نوشتار آزمایشی دیگر</a></li>
                      </ul>
                  </div>

                  <!--  ==========  -->
                  <!--  = Menu 3 =  -->
                  <!--  ==========  -->
                  <div class="span3">
                      <div class="main-titles lined">
                          <h3 class="title"><span class="light">سومین</span> ناوبری</h3>
                      </div>
                      <ul class="nav">
                          <li><a href="#">پیوند نوشتار آزمایشی</a></li>
                          <li><a href="#">نوشتار آزمایشی دیگر</a></li>
                          <li><a href="#">برند ها</a></li>
                          <li><a href="#">مشاهده آخرین توییت ها</a></li>
                          <li><a href="#">نوشتار آزمایشی دیگر</a></li>
                      </ul>
                  </div>

                  <!--  ==========  -->
                  <!--  = Menu 4 =  -->
                  <!--  ==========  -->
                  <div class="span3">
                      <div class="main-titles lined">
                          <h3 class="title"><span class="light">چهارمین</span> ناوبری</h3>
                      </div>
                      <ul class="nav">
                          <li><a href="#">پیوند نوشتار آزمایشی</a></li>
                          <li><a href="#">نوشتار آزمایشی دیگر</a></li>
                          <li><a href="#">برند ها</a></li>
                          <li><a href="#">مشاهده آخرین توییت ها</a></li>
                          <li><a href="#">نوشتار آزمایشی دیگر</a></li>
                      </ul>
                  </div>
              </div>
          </div>

    <div class="cpContainter">
    <div class="mcopyright">
      <div class="inside">فارسی سازی و ویرایش توسط <a href="http://20script.ir" target="_blank" title="بیست اسکریپت">20script.ir</a></div>
    </div>
    </div>

      </div> <!-- /middle footer -->

      <!--  ==========  -->
      <!--  = Bottom Footer =  -->
      <!--  ==========  -->
      <div class="foot-last">
          <a href="#" id="toTheTop">
              <span class="icon-chevron-up"></span>
          </a>
          <div class="container">
              <div class="row">
                  <div class="span6">
                      &copy; Copyright 2013. Images of products by <a target="_blank" href="http://www.20script.ir/">محصول ویژه</a>.
                  </div>
                  <div class="span6">
                      <div class="pull-right">قالب HTML وبمارکت توسط<a href="http://www.20script.ir/">بیست اسکریپت</a></div>
                  </div>
              </div>
          </div>
      </div> <!-- /bottom footer -->
  </footer> <!-- /footer -->
