
            <div class="span3 filter--blazers" data-price="1567" data-popularity="2" data-size="xs|s|m|xl"
              data-color="pink" data-brand="adidas">
              <div class="product">

                <div class="stamp red">تمام شد</div>

                <div class="product-img">
                  <div class="picture">
                    <img width="540" height="374" alt="" src="/assets/images/dummy/products/product-1.jpg" />
                    <div class="img-overlay">
                      <a class="btn more btn-primary" href="#">توضیحات بیشتر</a>
                      <a class="btn buy btn-danger" href="#">اضافه به سبد خرید</a>
                    </div>
                  </div>
                </div>
                <div class="main-titles no-margin">
                  <h4 class="title">{{product.price}} تومان</h4>
                  <h5 class="no-margin isotope--title">{{ product.productName }}</h5>
                </div>

              </div>
            </div> <!-- /single product -->
