<div class="darker-stripe">
  <div class="container">
      <div class="row">
          <div class="span12">
              <ul class="breadcrumb">
                  <li>
                      <a [routerLink]="['']">وبمارکت</a>
                  </li>
                  <li><span class="icon-chevron-right"></span></li>
                  <li>
                      <a [routerLink]="['/login']">ورود</a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</div>

<div class="container">
  <div class="push-up top-equal blocks-spacer-last">
      <div class="row">
          <div class="span12">
              <div class="title-area">
                  <h1 class="inline"><span class="light">ورود</span></h1>
              </div>
          </div>
          <section class="span8 single single-page">

              <hr />
              <section class="contact-form-container">

                  <h3 class="push-down-25"><span class="light">ورود</span></h3>

                  <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()" class="form form-inline form-contact">

                      <p class="push-down-20">
                        <label for="author">ایمیل<span class="red-clr bold">*</span></label>
                          <input type="email" tabindex="3" formControlName="email" class="span12">
                      </p>
                      <p class="text-error" *ngIf="loginForm.controls['email'].errors?.['required'] && loginForm.controls['email'].touched">
                        لطفا ایمیل خود را وارد نمایید
                      </p>
                      <p class="text-error" *ngIf="loginForm.controls['email'].errors?.['maxlength'] && loginForm.controls['email'].touched">
                        تعداد کاراکتر ها نباید بیشتر از 100 باشد
                       </p>
                       <p class="text-error" *ngIf="loginForm.controls['email'].errors?.['email'] && loginForm.controls['email'].touched">
                        ایمیل وارد شده معتبر نمی باشد
                       </p>

                      <p class="push-down-20">
                        <label for="author">کلمه عبور<span class="red-clr bold">*</span></label>
                          <input type="password" tabindex="4" formControlName="password" class="span12">
                      </p>
                      <p class="text-error" *ngIf="loginForm.controls['password'].errors?.['required'] && loginForm.controls['password'].touched">
                        لطفا کلمه عبور را وارد نمایید
                      </p>
                      <p class="text-error" *ngIf="loginForm.controls['password'].errors?.['maxlength'] && loginForm.controls['password'].touched">
                        تعداد کاراکتر ها نباید بیشتر از 100 باشد
                       </p>


                      <p>
                          <button class="btn btn-primary bold" [disabled]="loginForm.invalid" type="submit" tabindex="7" id="submit">ورود</button>
                      </p>
                  </form>
              </section>

          </section>
      </div>
  </div>
</div>

<swal
#sweetAlert
text=""
title="اخطار"
icon="warning"
[showCancelButton]="true"
[focusCancel]="true">
</swal>
<!-- <swal
#successRegisterAlert
text="عملیات ثبت نام با موفقیت انجام شد"
title="ثبت نام"
icon="success"
[showCancelButton]="false"
[focusCancel]="false">
</swal> -->

