      <!--  ==========  -->
      <!--  = Brands Carousel =  -->
      <!--  ==========  -->
      <div class="container blocks-spacer-last">

        <!--  ==========  -->
        <!--  = Title =  -->
        <!--  ==========  -->
        <div class="row">
            <div class="span12">
              <div class="main-titles lined">
                      <h2 class="title"><span class="light">برند های</span> ما</h2>
                        <div class="arrows">
                            <a href="#" class="icon-chevron-right" id="brandsRight"></a>
                            <a href="#" class="icon-chevron-left" id="brandsLeft"></a>
                        </div>
                  </div>
            </div>
        </div> <!-- /title -->

        <!--  ==========  -->
        <!--  = Logos =  -->
        <!--  ==========  -->
        <div class="row">
            <div class="span12">
              <div class="brands carouFredSel" data-nav="brands" data-autoplay="true">
                        <img src="/assets/images/dummy/brands/brands_01.jpg" alt="" width="203" height="104" />
                        <img src="/assets/images/dummy/brands/brands_02.jpg" alt="" width="203" height="104" />
                        <img src="/assets/images/dummy/brands/brands_03.jpg" alt="" width="203" height="104" />
                        <img src="/assets/images/dummy/brands/brands_04.jpg" alt="" width="203" height="104" />
                        <img src="/assets/images/dummy/brands/brands_05.jpg" alt="" width="203" height="104" />
                        <img src="/assets/images/dummy/brands/brands_06.jpg" alt="" width="203" height="104" />
                    </div>
            </div>
        </div> <!-- /logos -->
      </div> <!-- /brands carousel -->


