      <!--  ==========  -->
      <!--  = Main container =  -->
      <!--  ==========  -->
      <div class="container">
        <div class="row">
            <div class="span12">
                <div class="push-up over-slider blocks-spacer">

                    <!--  ==========  -->
                    <!--  = Three Banners =  -->
                    <!--  ==========  -->
                    <div class="row">
                        <div class="span4">
                            <a href="#" class="btn btn-block banner">
                                <span class="title"><span class="light">فروش</span> تابستانی</span>
                                <em>تا 60% تخفیف روی کفش ها</em>
                            </a>
                        </div>
                        <div class="span4">
                            <a href="#" class="btn btn-block colored banner">
                                <span class="title"><span class="light">ارسال</span> رایگان</span>
                                <em>برای خرید های بیش از 69000 تومان</em>
                            </a>
                        </div>
                        <div class="span4">
                            <a href="#" class="btn btn-block banner">
                                <span class="title"><span class="light">محصولات</span> جدید</span>
                                <em>از محصولات جدید دیدن کنید.</em>
                            </a>
                        </div>
                    </div> <!-- /three banners -->
                </div>
            </div>
        </div>

        <!--  ==========  -->
        <!--  = Featured Items =  -->
        <!--  ==========  -->
        <div class="row featured-items blocks-spacer">
            <div class="span12">

                <!--  ==========  -->
                <!--  = Title =  -->
                <!--  ==========  -->
              <div class="main-titles lined">
                  <h2 class="title"><span class="light">محصولات</span> ویژه</h2>
                  <div class="arrows">
                        <a href="#" class="icon-chevron-right" id="featuredItemsRight"></a>
                        <a href="#" class="icon-chevron-left" id="featuredItemsLeft"></a>
                    </div>
              </div>
            </div>

            <div class="span12">
                <!--  ==========  -->
                <!--  = Carousel =  -->
                <!--  ==========  -->
                <div class="carouFredSel" data-autoplay="false" data-nav="featuredItems">
                    <div class="slide">
                        <div class="row">





                    <!--  ==========  -->
              <!--  = Product =  -->
              <!--  ==========  -->
                    <div class="span4">
                        <div class="product">
                            <div class="product-img featured">
                                <div class="picture">
                                  <img src="/assets/images/dummy/featured-products/featured-1.png" alt="" width="518" height="358" />
                                <div class="img-overlay">
                                    <a href="#" class="btn more btn-primary">توضیحات بیشتر</a>
                                    <a href="#" class="btn buy btn-danger">خرید</a>
                                </div>
                                </div>
                            </div>
                            <div class="main-titles">
                                <h4 class="title">$115</h4>
                                <h5 class="no-margin">محصول ویژه 652</h5>
                            </div>
                            <p class="desc">توضیحاتی که در مورد محصول لازم است را در اینجا مینویسید</p>
                            <p class="center-align stars">
                                  <span class="icon-star stars-clr"></span>
                                  <span class="icon-star stars-clr"></span>
                                  <span class="icon-star stars-clr"></span>
                                  <span class="icon-star stars-clr"></span>
                                  <span class="icon-star stars-clr"></span>

                              </p>
                        </div>
                        </div> <!-- /product -->





                    <!--  ==========  -->
              <!--  = Product =  -->
              <!--  ==========  -->
                    <div class="span4">
                        <div class="product">
                            <div class="product-img featured">
                                <div class="picture">
                                  <img src="/assets/images/dummy/featured-products/featured-2.png" alt="" width="518" height="358" />
                                <div class="img-overlay">
                                    <a href="#" class="btn more btn-primary">توضیحات بیشتر</a>
                                    <a href="#" class="btn buy btn-danger">خرید</a>
                                </div>
                                </div>
                            </div>
                            <div class="main-titles">
                                <h4 class="title">$91</h4>
                                <h5 class="no-margin">محصول ویژه 735</h5>
                            </div>
                            <p class="desc">توضیحاتی که در مورد محصول لازم است را در اینجا مینویسید</p>
                            <p class="center-align stars">
                                  <span class="icon-star stars-clr"></span>
                                  <span class="icon-star"></span>
                                  <span class="icon-star"></span>
                                  <span class="icon-star"></span>
                                  <span class="icon-star"></span>

                              </p>
                        </div>
                        </div> <!-- /product -->





                    <!--  ==========  -->
              <!--  = Product =  -->
              <!--  ==========  -->
                    <div class="span4">
                        <div class="product">
                            <div class="product-img featured">
                                <div class="picture">
                                  <img src="/assets/images/dummy/featured-products/featured-3.png" alt="" width="518" height="358" />
                                <div class="img-overlay">
                                    <a href="#" class="btn more btn-primary">توضیحات بیشتر</a>
                                    <a href="#" class="btn buy btn-danger">خرید</a>
                                </div>
                                </div>
                            </div>
                            <div class="main-titles">
                                <h4 class="title">$40</h4>
                                <h5 class="no-margin">محصول ویژه 387</h5>
                            </div>
                            <p class="desc">توضیحاتی که در مورد محصول لازم است را در اینجا مینویسید</p>
                            <p class="center-align stars">
                                  <span class="icon-star stars-clr"></span>
                                  <span class="icon-star stars-clr"></span>
                                  <span class="icon-star stars-clr"></span>
                                  <span class="icon-star stars-clr"></span>
                                  <span class="icon-star"></span>

                              </p>
                        </div>
                        </div> <!-- /product -->




                      </div>
                  </div>
                  <div class="slide">
                      <div class="row">


                    <!--  ==========  -->
              <!--  = Product =  -->
              <!--  ==========  -->
                    <div class="span4">
                        <div class="product">
                            <div class="product-img featured">
                                <div class="picture">
                                  <img src="/assets/images/dummy/featured-products/featured-1.png" alt="" width="518" height="358" />
                                <div class="img-overlay">
                                    <a href="#" class="btn more btn-primary">توضیحات بیشتر</a>
                                    <a href="#" class="btn buy btn-danger">خرید</a>
                                </div>
                                </div>
                            </div>
                            <div class="main-titles">
                                <h4 class="title">$41</h4>
                                <h5 class="no-margin">محصول ویژه 515</h5>
                            </div>
                            <p class="desc">توضیحاتی که در مورد محصول لازم است را در اینجا مینویسید</p>
                            <p class="center-align stars">
                                  <span class="icon-star stars-clr"></span>
                                  <span class="icon-star stars-clr"></span>
                                  <span class="icon-star stars-clr"></span>
                                  <span class="icon-star stars-clr"></span>
                                  <span class="icon-star stars-clr"></span>

                              </p>
                        </div>
                        </div> <!-- /product -->





                    <!--  ==========  -->
              <!--  = Product =  -->
              <!--  ==========  -->
                    <div class="span4">
                        <div class="product">
                            <div class="product-img featured">
                                <div class="picture">
                                  <img src="/assets/images/dummy/featured-products/featured-2.png" alt="" width="518" height="358" />
                                <div class="img-overlay">
                                    <a href="#" class="btn more btn-primary">توضیحات بیشتر</a>
                                    <a href="#" class="btn buy btn-danger">خرید</a>
                                </div>
                                </div>
                            </div>
                            <div class="main-titles">
                                <h4 class="title">$107</h4>
                                <h5 class="no-margin">محصول ویژه 690</h5>
                            </div>
                            <p class="desc">توضیحاتی که در مورد محصول لازم است را در اینجا مینویسید</p>
                            <p class="center-align stars">
                                  <span class="icon-star stars-clr"></span>
                                  <span class="icon-star stars-clr"></span>
                                  <span class="icon-star"></span>
                                  <span class="icon-star"></span>
                                  <span class="icon-star"></span>

                              </p>
                        </div>
                        </div> <!-- /product -->





                    <!--  ==========  -->
              <!--  = Product =  -->
              <!--  ==========  -->
                    <div class="span4">
                        <div class="product">
                            <div class="product-img featured">
                                <div class="picture">
                                  <img src="/assets/images/dummy/featured-products/featured-3.png" alt="" width="518" height="358" />
                                <div class="img-overlay">
                                    <a href="#" class="btn more btn-primary">توضیحات بیشتر</a>
                                    <a href="#" class="btn buy btn-danger">خرید</a>
                                </div>
                                </div>
                            </div>
                            <div class="main-titles">
                                <h4 class="title">$61</h4>
                                <h5 class="no-margin">محصول ویژه 405</h5>
                            </div>
                            <p class="desc">توضیحاتی که در مورد محصول لازم است را در اینجا مینویسید</p>
                            <p class="center-align stars">
                                  <span class="icon-star stars-clr"></span>
                                  <span class="icon-star stars-clr"></span>
                                  <span class="icon-star stars-clr"></span>
                                  <span class="icon-star"></span>
                                  <span class="icon-star"></span>

                              </p>
                        </div>
                        </div> <!-- /product -->
                                        </div>
                  </div>
                </div> <!-- /carousel -->
            </div>

        </div>
    </div> <!-- /container -->
