 <!--  ==========  -->
    <!--  = Breadcrumbs =  -->
    <!--  ==========  -->
    <div class="darker-stripe">
      <div class="container">
          <div class="row">
              <div class="span12">
                  <ul class="breadcrumb">
                      <li>
                          <a href="index.html">Webmarket</a>
                      </li>
                      <li><span class="icon-chevron-right"></span></li>
                      <li>
                          <a href="about-us.html">About Us</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>

  <div class="container">
      <div class="push-up blocks-spacer">
          <div class="row">

              <!--  ==========  -->
              <!--  = Sidebar =  -->
              <!--  ==========  -->
              <aside class="span3">
                  <div class="sidebar-item">

                      <!--  ==========  -->
                      <!--  = Sidebar Title =  -->
                      <!--  ==========  -->
                      <div class="underlined">
                        <h3><span class="light">تیم</span> ما</h3>
                      </div>

                      <!--  ==========  -->
                      <!--  = Menu (affix) =  -->
                      <!--  ==========  -->
                      <div class="row">
                        <div class="span3" id="spyMenu">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#jaka">جک اسمیت <i class="icon-caret-right pull-right"></i></a></li>
                            <li><a href="#primoz">جان دیوید <i class="icon-caret-right pull-right"></i></a></li>
                            <li><a href="#ana">آنا کارنینا <i class="icon-caret-right pull-right"></i></a></li>
                            <li><a href="#andre">آندره ژید <i class="icon-caret-right pull-right"></i></a></li>
                        </ul>
                        </div>
                      </div>

                  </div>
              </aside> <!-- /sidebar -->

              <!--  ==========  -->
              <!--  = Main content =  -->
              <!--  ==========  -->
              <section class="span9">

                  <!--  ==========  -->
                  <!--  = Title =  -->
                  <!--  ==========  -->
                  <div class="underlined push-down-20">
                      <h3><span class="light">چند کلمه</span> درباره ما</h3>
                  </div> <!-- /title -->

                  <!--  ==========  -->
                  <!--  = Description=  -->
                  <!--  ==========  -->
                  <section class="blocks-spacer">
                      <h5><span class="light">چطور</span> همه چیز شروع شد</h5>
                      <p>لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است. صنعت چاپ زمانی لازم بود شرایطی شما باید فکر ثبت نام و طراحی، لازمه خروج می باشد. در ضمن قاعده همفکری ها جوابگوی سئوالات زیاد شاید باشد، آنچنان که لازم بود طراحی گرافیکی خوب بود. کتابهای زیادی شرایط سخت ، دشوار و کمی در سالهای دور لازم است. هدف از این نسخه فرهنگ پس از آن و دستاوردهای خوب شاید باشد. حروفچینی لازم در شرایط فعلی لازمه تکنولوژی بود که گذشته، حال و آینده را شامل گردد. سی و پنج درصد از طراحان در قرن پانزدهم میبایست پرینتر در ستون و سطر حروف لازم است، بلکه شناخت این ابزار گاه اساسا بدون هدف بود و سئوالهای زیادی در گذشته بوجود می آید، تنها لازمه آن بود.  </p>

                      <h5><span class="light">چه</span> جریاناتی در پیش است</h5>
                      <p>لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است. صنعت چاپ زمانی لازم بود شرایطی شما باید فکر ثبت نام و طراحی، لازمه خروج می باشد. در ضمن قاعده همفکری ها جوابگوی سئوالات زیاد شاید باشد، آنچنان که لازم بود طراحی گرافیکی خوب بود. کتابهای زیادی شرایط سخت ، دشوار و کمی در سالهای دور لازم است. هدف از این نسخه فرهنگ پس از آن و دستاوردهای خوب شاید باشد. حروفچینی لازم در شرایط فعلی لازمه تکنولوژی بود که گذشته، حال و آینده را شامل گردد. سی و پنج درصد از طراحان در قرن پانزدهم میبایست پرینتر در ستون و سطر حروف لازم است، بلکه شناخت این ابزار گاه اساسا بدون هدف بود و سئوالهای زیادی در گذشته بوجود می آید، تنها لازمه آن بود.  </p>

                      <h5><span class="light">و</span> امروز ما که هستیم!</h5>
                      <p>لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است. صنعت چاپ زمانی لازم بود شرایطی شما باید فکر ثبت نام و طراحی، لازمه خروج می باشد. در ضمن قاعده همفکری ها جوابگوی سئوالات زیاد شاید باشد، آنچنان که لازم بود طراحی گرافیکی خوب بود. کتابهای زیادی شرایط سخت ، دشوار و کمی در سالهای دور لازم است. هدف از این نسخه فرهنگ پس از آن و دستاوردهای خوب شاید باشد. حروفچینی لازم در شرایط فعلی لازمه تکنولوژی بود که گذشته، حال و آینده را شامل گردد. سی و پنج درصد از طراحان در قرن پانزدهم میبایست پرینتر در ستون و سطر حروف لازم است، بلکه شناخت این ابزار گاه اساسا بدون هدف بود و سئوالهای زیادی در گذشته بوجود می آید، تنها لازمه آن بود.  </p>
                </section>

                  <!--  ==========  -->
                  <!--  = Team Members =  -->
                  <!--  ==========  -->
                  <section>

                      <!--  ==========  -->
                      <!--  = Title =  -->
                      <!--  ==========  -->
                      <div class="underlined push-down-20">
                          <h3><span class="light">صورتهای</span> پشت وبمارکت</h3>
                      </div> <!-- /title -->

                      <!--  = Jaka - designer =  -->
                      <div class="row-fluid push-down-20" id="jaka">
                          <div class="span4">
                              <a href="#"><img src="/assets/images/dummy/about-us/profile-1.jpg" alt="person" width="550" height="660" /></a>
                          </div>
                          <div class="span4">
                              <h4><span class="light">جک</span> اسمیت</h4>
                              <h6 class="move-title-up">طراح ارشد</h6>
                              <p>لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است. صنعت چاپ زمانی لازم بود شرایطی شما باید فکر ثبت نام و طراحی، لازمه خروج می باشد. در ضمن قاعده همفکری ها جوابگوی سئوالات زیاد شاید باشد، آنچنان که لازم بود طراحی گرافیکی خوب بود. کتابهای زیادی شرایط سخت ، دشوار و کمی در سالهای دور لازم است. هدف از این نسخه فرهنگ پس از آن و دستاوردهای خوب شاید باشد.</p>
                          </div>
                          <div class="span4">
                              <blockquote>
                                  <i class="icon-quote-right icon-5x"></i>
                                  <p>لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است. صنعت چاپ زمانی لازم بود شرایطی شما باید فکر ثبت نام و طراحی، لازمه خروج می باشد. در ضمن قاعده همفکری ها جوابگوی سئوالات زیاد شاید باشد، آنچنان که لازم بود طراحی گرافیکی خوب بود. کتابهای زیادی شرایط سخت ، دشوار و کمی در سالهای دور لازم است. هدف از این نسخه فرهنگ پس از آن و دستاوردهای خوب شاید باشد.</p>
                              </blockquote>
                          </div>
                      </div>

                      <!--  = Primož - programmer =  -->
                      <div class="row-fluid push-down-20" id="primoz">
                          <div class="span4">
                              <blockquote>
                                  <i class="icon-quote-right icon-5x"></i>
                                  <p>لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است. صنعت چاپ زمانی لازم بود شرایطی شما باید فکر ثبت نام و طراحی، لازمه خروج می باشد. در ضمن قاعده همفکری ها جوابگوی سئوالات زیاد شاید باشد، آنچنان که لازم بود طراحی گرافیکی خوب بود. کتابهای زیادی شرایط سخت ، دشوار و کمی در سالهای دور لازم است. هدف از این نسخه فرهنگ پس از آن و دستاوردهای خوب شاید باشد.</p>
                              </blockquote>
                          </div>
                          <div class="span4">
                              <h4><span class="light">حان</span> دیوید</h4>
                              <h6 class="move-title-up">Code Ninja</h6>
                              <p>لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است. صنعت چاپ زمانی لازم بود شرایطی شما باید فکر ثبت نام و طراحی، لازمه خروج می باشد. در ضمن قاعده همفکری ها جوابگوی سئوالات زیاد شاید باشد، آنچنان که لازم بود طراحی گرافیکی خوب بود. کتابهای زیادی شرایط سخت ، دشوار و کمی در سالهای دور لازم است. هدف از این نسخه فرهنگ پس از آن و دستاوردهای خوب شاید باشد.</p>
                          </div>
                          <div class="span4">
                              <a href="#"><img src="/assets/images/dummy/about-us/profile-2.jpg" alt="person" width="550" height="660" /></a>
                          </div>
                      </div>

                      <!--  = Ana =  -->
                      <div class="row-fluid push-down-20" id="ana">
                          <div class="span4">
                              <a href="#"><img src="/assets/images/dummy/about-us/profile-4.jpg" alt="person" width="550" height="660" /></a>
                          </div>
                          <div class="span4">
                              <h4><span class="light">آنا</span> کارنینا</h4>
                              <h6 class="move-title-up">ارتباط با مشتری</h6>
                              <p>لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است. صنعت چاپ زمانی لازم بود شرایطی شما باید فکر ثبت نام و طراحی، لازمه خروج می باشد. در ضمن قاعده همفکری ها جوابگوی سئوالات زیاد شاید باشد، آنچنان که لازم بود طراحی گرافیکی خوب بود. کتابهای زیادی شرایط سخت ، دشوار و کمی در سالهای دور لازم است. هدف از این نسخه فرهنگ پس از آن و دستاوردهای خوب شاید باشد.</p>
                          </div>
                          <div class="span4">
                              <blockquote>
                                  <i class="icon-quote-right icon-5x"></i>
                                  <p>لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است. صنعت چاپ زمانی لازم بود شرایطی شما باید فکر ثبت نام و طراحی، لازمه خروج می باشد. در ضمن قاعده همفکری ها جوابگوی سئوالات زیاد شاید باشد، آنچنان که لازم بود طراحی گرافیکی خوب بود. کتابهای زیادی شرایط سخت ، دشوار و کمی در سالهای دور لازم است. هدف از این نسخه فرهنگ پس از آن و دستاوردهای خوب شاید باشد.</p>
                              </blockquote>
                          </div>
                      </div>

                      <!--  = Andre =  -->
                      <div class="row-fluid push-down-20" id="andre">
                          <div class="span4">
                              <blockquote>
                                  <i class="icon-quote-right icon-5x"></i>
                                  <p>لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است. صنعت چاپ زمانی لازم بود شرایطی شما باید فکر ثبت نام و طراحی، لازمه خروج می باشد. در ضمن قاعده همفکری ها جوابگوی سئوالات زیاد شاید باشد، آنچنان که لازم بود طراحی گرافیکی خوب بود. کتابهای زیادی شرایط سخت ، دشوار و کمی در سالهای دور لازم است. هدف از این نسخه فرهنگ پس از آن و دستاوردهای خوب شاید باشد.</p>
                              </blockquote>
                          </div>
                          <div class="span4">
                              <h4><span class="light">آندره</span> ژید</h4>
                              <h6 class="move-title-up">ارتباط با مشتری</h6>
                              <p>لورم ایپسوم متنی است که ساختگی برای طراحی و چاپ آن مورد است. صنعت چاپ زمانی لازم بود شرایطی شما باید فکر ثبت نام و طراحی، لازمه خروج می باشد. در ضمن قاعده همفکری ها جوابگوی سئوالات زیاد شاید باشد، آنچنان که لازم بود طراحی گرافیکی خوب بود. کتابهای زیادی شرایط سخت ، دشوار و کمی در سالهای دور لازم است. هدف از این نسخه فرهنگ پس از آن و دستاوردهای خوب شاید باشد.</p>
                          </div>
                          <div class="span4">
                              <a href="#"><img src="/assets/images/dummy/about-us/profile-3.jpg" alt="person" width="550" height="660" /></a>
                          </div>
                      </div>

                </section>


                <hr />

              </section> <!-- /main content -->
          </div>
      </div>
  </div> <!-- /container -->


