      <!--  ==========  -->
      <!--  = Most Popular products =  -->
      <!--  ==========  -->
      <div class="most-popular blocks-spacer">
        <div class="container">

            <!--  ==========  -->
        <!--  = Title =  -->
        <!--  ==========  -->
            <div class="row">
              <div class="span12">
                  <div class="main-titles lined">
                        <h2 class="title"><span class="light">محبوبترین</span>محصولات فروشگاه</h2>
                    </div>
              </div>
            </div> <!-- /title -->

          <div class="row popup-products">



              <!--  ==========  -->
          <!--  = Product =  -->
          <!--  ==========  -->
                  <div class="span3">
                      <div class="product">
                          <div class="product-img">
                              <div class="picture">
                                  <img src="/assets/images/dummy/most-popular-products/popular-1.jpg" alt="" width="540" height="412" />
                                  <div class="img-overlay">
                                      <a href="#" class="btn more btn-primary">توضیحات بیشتر</a>
                                      <a href="#" class="btn buy btn-danger">اضافه به سبد خرید</a>
                                  </div>
                              </div>
                          </div>
                          <div class="main-titles no-margin">
                              <h4 class="title">$32</h4>
                              <h5 class="no-margin">محصول ویژه 456</h5>
                          </div>
                          <p class="desc">توضیحاتی که در مورد محصول لازم است را در اینجا مینویسید</p>
                          <p class="center-align stars">
                              <span class="icon-star stars-clr"></span>
                              <span class="icon-star stars-clr"></span>
                              <span class="icon-star"></span>
                              <span class="icon-star"></span>
                              <span class="icon-star"></span>

                          </p>
                      </div>
                  </div> <!-- /product -->



              <!--  ==========  -->
          <!--  = Product =  -->
          <!--  ==========  -->
                  <div class="span3">
                      <div class="product">
                          <div class="product-img">
                              <div class="picture">
                                  <img src="/assets/images/dummy/most-popular-products/popular-2.jpg" alt="" width="540" height="412" />
                                  <div class="img-overlay">
                                      <a href="#" class="btn more btn-primary">توضیحات بیشتر</a>
                                      <a href="#" class="btn buy btn-danger">اضافه به سبد خرید</a>
                                  </div>
                              </div>
                          </div>
                          <div class="main-titles no-margin">
                              <h4 class="title">$32</h4>
                              <h5 class="no-margin">محصول ویژه 280</h5>
                          </div>
                          <p class="desc">توضیحاتی که در مورد محصول لازم است را در اینجا مینویسید</p>
                          <p class="center-align stars">
                              <span class="icon-star stars-clr"></span>
                              <span class="icon-star stars-clr"></span>
                              <span class="icon-star stars-clr"></span>
                              <span class="icon-star"></span>
                              <span class="icon-star"></span>

                          </p>
                      </div>
                  </div> <!-- /product -->



              <!--  ==========  -->
          <!--  = Product =  -->
          <!--  ==========  -->
                  <div class="span3">
                      <div class="product">
                          <div class="product-img">
                              <div class="picture">
                                  <img src="/assets/images/dummy/most-popular-products/popular-3.jpg" alt="" width="540" height="412" />
                                  <div class="img-overlay">
                                      <a href="#" class="btn more btn-primary">توضیحات بیشتر</a>
                                      <a href="#" class="btn buy btn-danger">اضافه به سبد خرید</a>
                                  </div>
                              </div>
                          </div>
                          <div class="main-titles no-margin">
                              <h4 class="title">$32</h4>
                              <h5 class="no-margin">محصول ویژه 158</h5>
                          </div>
                          <p class="desc">توضیحاتی که در مورد محصول لازم است را در اینجا مینویسید</p>
                          <p class="center-align stars">
                              <span class="icon-star stars-clr"></span>
                              <span class="icon-star"></span>
                              <span class="icon-star"></span>
                              <span class="icon-star"></span>
                              <span class="icon-star"></span>

                          </p>
                      </div>
                  </div> <!-- /product -->



              <!--  ==========  -->
          <!--  = Product =  -->
          <!--  ==========  -->
                  <div class="span3">
                      <div class="product">
                          <div class="product-img">
                              <div class="picture">
                                  <img src="/assets/images/dummy/most-popular-products/popular-4.jpg" alt="" width="540" height="412" />
                                  <div class="img-overlay">
                                      <a href="#" class="btn more btn-primary">توضیحات بیشتر</a>
                                      <a href="#" class="btn buy btn-danger">اضافه به سبد خرید</a>
                                  </div>
                              </div>
                          </div>
                          <div class="main-titles no-margin">
                              <h4 class="title">$32</h4>
                              <h5 class="no-margin">محصول ویژه 275</h5>
                          </div>
                          <p class="desc">توضیحاتی که در مورد محصول لازم است را در اینجا مینویسید</p>
                          <p class="center-align stars">
                              <span class="icon-star stars-clr"></span>
                              <span class="icon-star"></span>
                              <span class="icon-star"></span>
                              <span class="icon-star"></span>
                              <span class="icon-star"></span>

                          </p>
                      </div>
                  </div> <!-- /product -->
                            </div>
        </div>
      </div> <!-- /most popular -->

